* {
    padding: 0;
    margin: 0;
}

#nav {
    /* padding:-10px; */
    font-size: 1.2rem;
}
#Phool {
    margin-left: 20px;
    font-family: "Sevillana", cursive;
    font-weight: 500;
    font-size: 2.5rem;
    font-style: normal;
}
.nav-link:hover {
    margin-top: 10px;
    text-decoration: 2px underline #B75279;
    transition: all 1s;
}

#main_img img {
   background-size:contain;
   width: 100%;
   height: 100vh;
}

.carousel-item img {
    height: 100vh;
    background-size: cover;
}

#shop_cat {
    margin: 20px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


